################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TableStorage/.vs/TableStorage/v15/Server/sqlite3/storage.ide-wal
/TableStorage/.vs/TableStorage/v15/Server/sqlite3/storage.ide-shm
/TableStorage/.vs/TableStorage/v15/Server/sqlite3/storage.ide
/TableStorage/.vs/TableStorage/v15/Server/sqlite3/db.lock
/TableStorage/.vs/TableStorage/v15/Server/sqlite3
